<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- value as attribute -->
	<bean name="employee1" class="com.fuppino.spring.Employee">
		<property name="id" value="1"></property>
		<property name="name" value="Ram"></property>
	</bean>
	
	<!-- value as element -->
	<bean name="employee2" class="com.fuppino.spring.Employee">
		<property name="id">
			<value>2</value>
		</property>
		<property name="name">
			<value>Ram</value>
		</property>
	</bean>
	
	<!-- value as p schema element -->
	<bean name="employee3" class="com.fuppino.spring.Employee" p:id="3" p:name="name"/>
	
</beans>